.sort-trigger[data-order="asc"]:after,
.sort-trigger[data-order="desc"]:after {
	content: "";
	display: inline-block;
	vertical-align: middle;
	width: 15px;
	height: 15px;
	line-height: 15px;
	margin-left: 5px;
	background-image: url('../../../img/glyphicons-halflings.png');
	background-position: -313px -119px;
}

.sort-trigger[data-order="desc"]:after {
	background-position: -288px -120px;
}

.tab-content {
	margin-top: 20px;
}

.admin-menu-groups > .spl_grp_block { border-radius: 0px; margin-bottom: 20px; }

.admin-menu-groups > .spl_grp_block .spl-btn { color: #fff; margin-bottom: 0px; margin-left: 0px; }
.admin-menu-groups > .spl_grp_block .spl-btn.closed { color: #bbb; }
.admin-menu-groups > .spl_grp_block .spl-btn:before,
.admin-menu-groups > .spl_grp_block .spl-btn.closed:before { content: ""; display: inline-block; width: 12px; height: 8px; background: url("../../../img/spl-arrows.png") no-repeat; vertical-align: middle; margin-right: 10px; }
.admin-menu-groups > .spl_grp_block .spl-btn.closed:before { background-position: 0px -8px; }
.admin-menu-groups > ul { font-size: 0px; }
.admin-menu-groups > ul li { font-size: 14px; text-align: center; display: inline-block; width: 100px; word-wrap: break-word; vertical-align: top; margin-bottom: 10px; }
.admin-menu-groups > ul li a { text-decoration: none; }
.admin-menu-groups > ul li .i-icon { display: block; width: 64px; height: 64px; margin: auto; opacity: 0.8; }
.admin-menu-groups > ul li .i-icon:hover { opacity: 1; }

.form-block.actions{
	padding: 20px;
	font-size: 0px;
}

.form-block.actions > .left-act,
.form-block.actions > .right-act {
	display: inline-block;
	vertical-align: top;
	width: 50%;
	font-size: 14px;
}

.form-block.actions > .right-act {
	text-align: right;
}

.menu-adm-change .menu-icon { text-align: center; vertical-align: top; margin-bottom: 5px; }

.menu-adm-change .menu-icon > .icon-img { display: block; width: 64px; height: 64px; background-repeat: no-repeat; background-position: top left; }

.panel-menu-icons .element-icon { width: 32px; height: 32px; }

.adm-info-main .thumbnails .thumbnail h3,
.adm-info-stats .thumbnails .thumbnail h3 { margin: 0px; margin-bottom: 10px; }

.adm-info-main .thumbnails .thumbnail .ajx-l { margin-top: 0px; }

.adm-info-main .thumbnails .thumbnail .icon-ok { margin-top: 0px; }

.adm-info-stats .users_stats tr.error > td { background-color: #f2dede; }
.adm-info-stats .users_stats tr.warning > td { background-color: #fcf8e3; }
.adm-info-stats .users_stats tr.success > td { background-color: #dff0d8; }
.adm-info-stats .users_stats tr.info > td { background-color: #d9edf7; }

.adm-info-modules .thumbnails > li {
	display: inline-block;
	vertical-align: top;
	width: 33.333333%;
	box-sizing: border-box;
	padding: 5px;
	text-align: center;
}

.adm-info-modules .thumbnails .read-more {
	margin-bottom: 5px;
}

.adm-info-modules .thumbnails .thumbnail > img {
	max-height: 130px;
}

.adm-info-modules .thumbnails .title {
	margin: 8px 0px;
	height: 40px;
	overflow: hidden;
}

.form-block.new-full .block-footer { font-family: Hattori-Hanzo; margin: 0px 5px; font-size: 12px; color: #777; }

.form-block.new-full .block-footer a:hover { text-decoration: none; }

.form-block.new-full .block-footer > div { display: inline-block; padding: 0px 5px; }

.form-block.new-full .block-footer .date { border-right: 1px solid #eee; }

.form-block.new-full .block-footer .category { border-left: 1px solid #eee; margin-left: -3px; }

.form-block.new-full .block-footer .comments,
.form-block.new-full .block-footer .views { float: right; border-right: 1px solid #eee; }

.form-block.new-full .block-footer .comments i,
.form-block.new-full .block-footer .views i { margin-right: 5px; margin-top: 0px; }

.form-block.new-full .block-footer > .readmore { float: right; padding-left: 10px; }

@media (max-width: 400px){
	.admin-menu-groups > .spl_grp_block .spl-btn { font-size: 12px; }

	.admin-menu-groups > ul li { width: 90px; }
}

@media (max-width: 560px){
	.form-block.actions > .left-act,
	.form-block.actions > .right-act {
		display: block;
		width: 100%;
		text-align: left;
	}
}

/*----------------------------------------*\
|******************************************|
|********====*JM Organization*====*********|
|*****************edited*******************|
|******************************************|
\*----------------------------------------*/

/* Item::somethings */
.date-publish,
.date_cs {
	display: none;
}
.date-publish * {
	display: inline-block;
	height: 33px;
}
.date-publish .date
{ width: 168px; }
.date-publish .time-hour,
.date-publish .time-minute
{ width: 28px; }