body {
	display: flex;
	min-height: 100vh;
	flex-direction: column;
	background-color: #F0F0F0 !important;
	background-image: url(../img/bg.png);
}

a:hover {
	text-decoration: underline;
}

.center-align {
	text-align: center;
}

#mcr-content-container {
	flex: 1;
}

#mcr-sidebar {
	padding-right: 0;
}

#mcr-header {
	min-height: 270px;
	background-image: url(../img/header-bg.png) !important;
	background-position: center !important;
	background-repeat: no-repeat !important;
}

#mcr-header .ui.text.container {
	margin-top: 1.5em;
	margin-bottom: 0em;
	font-size: 4em;
	font-weight: normal;
	max-width: 100% !important;
}

#mcr-header .ui.text.container .ui.header {
	color: #FFFFFF;
}

#mcr-footer {
	background-color: #1b1c1d;
	border-top: solid 10px #383839;
	color: #555;
}

#mcr-advice {
	margin-top: -1rem;
	border-radius: 0;
	width: calc(100% + 2px);
	margin-left: -1px;
}

#restore {
	position: absolute;
	top: .67857143em;
	right: 1em;
	background-color: white;
	padding-left: 1em;
}

.ui.form .field.field input:-webkit-autofill + #restore {
	background-color: #fffff0!important;
}

.relative {
	position: relative;
}

.masthead .logo.item img {
	margin-right: 1em;
}

.masthead h2.ui.header {
	margin-top: 5em;
	font-size: 3.5em;
	margin-bottom: 0em;
	font-weight: normal;
}

.top.fixed.menu .toc.item {
	display: none !important;
}

@media only screen and (max-width: 700px) {
	.top.fixed.menu .item,
	.top.fixed.menu .menu {
		display: none;
	}

	.top.fixed.menu .toc.item {
		display: flex !important;
	}

	.masthead {
		min-height: 350px;
	}

	#mcr-logotype {
		display: none;
	}
}

/* Debug + */
.mcr-debug {
	position: fixed;
	width: 400px;
	max-width: 400px;
	box-sizing: border-box;
	word-wrap: break-word;
	font-weight: bold;
	bottom: 50px;
	left: -400px;
	background: #9D89BE;
	color: #fff;
	border-left: 0px;
	padding: 20px;
	z-index: 1000;
}

.mcr-debug a,
.mcr-debug a:hover {
	text-decoration: none;
}

.mcr-debug h4 {
	margin: 0px;
	padding: 0px;
}

.mcr-debug.open {
	left: 0px;
}

.mcr-debug span {
	color: #fff;
	font-weight: normal;
}

.mcr-debug .action {
	position: absolute;
	left: 400px;
	bottom: 50%;
	color: #fff;
	margin-bottom: -10px;
	display: inline-block;
	background: #9D89BE;
	padding: 3px 5px;
	border-left: 0px;
}

/* Debug - */

.ui.messages {
	position: fixed;
	top: 50px;
	right: 8px;
	min-width: 350px;
}

#js-loader {
	position: fixed;
	top: 0;
	right: 0;
	display: none;
	background-color: rgba(0, 0, 0, 0.7);
	border-bottom-left-radius: 10px;
	float: right;
	width: 85px;
	height: 30px;
	text-align: center;
	z-index: 20000;
}

#js-loader img {
	padding: 9px 0;
}

.ui.async.message {
	display: none;
	overflow: hidden;
}

.ui.async.message > #title {
	display: block;
	line-height: 12px;
	margin-bottom: 5px;
	font-weight: bold;
}

.ui.async.message > #message {
	clear: both;
}

.bb-panel {
	background-color: #fff;
	border: 1px solid #ccc;
	border-radius: 4px;
	padding: 3px;
	margin-bottom: 10px;
	padding-bottom: 0px;
}

.bb-panel > ul {
	display: inline-table;
	border: 1px solid #ccc;
	table-layout: fixed;
	margin-right: 3px;
	padding: 3px;
	margin-bottom: 3px;
}

.bb-panel > ul > li {
	display: table-cell;
	text-align: center;
	vertical-align: middle;
}

.bb-panel > ul > li > a {
	display: block;
	height: 18px;
	width: 18px;
	background-color: #fff;
	line-height: 18px;
	vertical-align: middle;
	text-decoration: none;
	box-sizing: border-box;
	color: #333;
}

.bb-panel > .bb-right {
	float: right;
}

.bb-panel > ul > li > a:hover {
	-webkit-box-shadow: inset 0px 0px 0px 1px #333;
	-moz-box-shadow: inset 0px 0px 0px 1px #333;
	box-shadow: inset 0px 0px 0px 1px #333;
}

.file-manager {
	margin-top: 5px;
}

.file-manager .file-input-wrapper {
	display: block;
	width: 100%;
	box-sizing: border-box;
	border: 1px dashed #ccc;
	background: transparent;
	padding: 20px;
}

.file-manager .file-input-wrapper .file-inputs {
	display: block;
	width: 100%;
	height: 100%;
}

.file-manager .file-input-wrapper:hover {
	background-color: rgba(0, 0, 0, 0.03);
}

.file-manager > .lastfiles > .file-line > div {
	display: inline-block;
	vertical-align: middle;
	word-wrap: break-word;
}

.file-manager > .lastfiles > .file-line {
	margin-top: 10px;
	padding: 5px;
	background-color: #eee;
}

.file-manager > .lastfiles > .file-line > .line-uniq {
	width: 35%;
}

.file-manager > .lastfiles > .file-line > .line-oldname {
	width: 35%;
}

.file-manager > .lastfiles > .file-line > .line-size {
	width: 10%;
	text-align: center;
}

.file-manager > .lastfiles > .file-line > .line-downloads {
	width: 10%;
	text-align: center;
}

.file-manager > .lastfiles > .file-line > .line-info,
.file-manager > .lastfiles > .file-line > .line-act {
	width: 5%;
	text-align: right;
}

.file-manager > .lastfiles > .file-line .file-edit-input {
	display: inline-block;
	margin: 0px;
	vertical-align: middle;
	width: auto;
	margin-right: 5px;
}

.file-manager > .lastfiles > .file-line .file-edit {
	margin-left: 5px;
}

@media (max-width: 600px) {
	.file-manager > .lastfiles > .file-line > .line-oldname {
		display: none;
	}

	.file-manager > .lastfiles > .file-line > .line-info,
	.file-manager > .lastfiles > .file-line > .line-act {
		width: 10%;
	}

	.file-manager > .lastfiles > .file-line > .line-uniq {
		width: 45%;
	}

	.file-manager > .lastfiles > .file-line > .line-size {
		width: 20%;
	}
}

.form-block.block-notify .block-content .alert,
.main-content .alert.ajx {
	margin-bottom: 0px;
}

.main-content .alert.ajx {
	margin-top: 10px;
}

.form-block.block-notify #close-notify {
	float: right;
	text-decoration: none;
}

.main-content .alert.ajx .close-alert {
	float: right;
	text-decoration: none;
	margin-right: -20px;
}

.centered {
	text-align: center;
}

.ajx-l {
	position: absolute;
	margin-top: 7px;
	margin-left: 10px;
}

.mcr-404,
.mcr-403 {
	text-align: center;
}

.mcr-404 h3,
.mcr-403 h3 {
	font-size: 24px;
	margin-bottom: 20px;
}

.alert.alert-error {
	color: #a94442;
	background-color: #f2dede;
	border-color: #ebccd1;
}

@media (min-width: 1200px) {
	.uploader-forms .skin-uploader,
	.uploader-forms .cloak-uploader {
		width: 44%;
	}
}

@media (max-width: 1200px) {
	.uploader-forms .skin-uploader,
	.uploader-forms .cloak-uploader {
		width: 40%;
	}

	.bb-panel > ul {
		display: block;
		padding: 3px;
		margin-bottom: 3px;
	}

	.bb-panel > ul > li {
		display: inline-block;
	}

}

@media (max-width: 1000px) {
	body > .container {
		padding-bottom: 100px;
	}

	#js-loader {
		bottom: 110px;
	}
}

@media (min-width: 768px) and (max-width: 979px) {
	.skin-block {
		margin: 0px;
	}

	.uploader-forms {
		display: inline-block;
		margin: 0px;
		width: 60%;
	}

	.uploader-forms .skin-uploader,
	.uploader-forms .cloak-uploader {
		margin: 0px;
		width: 48%;
	}
}

@media (max-width: 979px) {

	.mcr-debug {
		top: 51px;
		left: -400px;
		font-size: 12px;
	}

	.mcr-debug .action {
		left: 400px;
		bottom: 50%;
	}

}

@media (max-width: 767px) {
	body > .container {
		padding-bottom: 80px;
	}

	#js-loader {
		bottom: 97px;
	}

	body > .navbar-fixed-top .form-control {
		width: 140px;
	}

	body > .navbar-fixed-top .navbar-form > .btn[type="submit"] {
		display: block;
		width: 100%;
	}
}

@media (max-width: 479px) {

	.mcr-debug {
		display: block;
		left: -100%;
		width: 100%;
		max-width: 100%;
		font-size: 12px;
	}

	.mcr-debug .action {
		right: -17px;
		bottom: 50%;
		left: auto;
	}

	.mcr-debug.open .action {
		right: 0px;
		background-color: #fff;
		color: #ccc;
	}

	body > .container {
		padding-bottom: 130px;
	}

	#js-loader {
		bottom: 157px;
	}

}

.spl-body {
	display: block;
	margin-bottom: 10px;
}

.spl-body.closed {
	display: none;
}

table.table th.action,
table.table td.action {
	text-align: right;
}

table.table th.action input[type="checkbox"],
table.table td.action input[type="checkbox"] {
	margin-top: 0px;
	margin-left: 10px;
}

.search-block > .search-block-id .search-selected {
	font-weight: bold;
	text-decoration: underline;
	color: #a00;
}

.search-block > .search-block-id {
	margin-top: 10px;
	padding-top: 10px;
	border-top: 1px solid #ddd;
}

.search-block > .search-block-id > .title {
	font-size: 14px;
	margin-bottom: 8px;
}

.search-block > .search-block-id > .subinfo {
	margin-top: 8px;
	font-size: 12px;
	color: #666;
}

.thumbnails > li.span12 {
	margin-left: 0px;
}

.monitor-id > .progress {
	position: relative;
}

.monitor-id > .progress > .stats {
	position: absolute;
	width: 100%;
	text-align: center;
	font-size: 12px;
}

.monitor-id > .progress .bar {
	position: relative;
}

.qxbb-code {
	display: block;
	line-height: 24px;
	background-color: #fafafa;
	border: 1px solid #eee;
	border-radius: 4px;
	color: #a00;
	padding: 10px;
	line-height: 16px;
	margin: 10px;
	margin-top: 20px;
	position: relative;
	word-wrap: break-word;
	font-size: 12px;
	font-family: verdana;
}

.qxbb-code:after {
	display: block;
	position: absolute;
	top: -10px;
	right: 10px;
	background-color: #fff3f3;
	border: 1px solid #f3c7c7;
	content: "Код";
	padding: 3px 7px;
	line-height: 10px;
	border-radius: 4px;
	color: #b97676;
}

.qxbb-quote {
	position: relative;
	display: block;
	background-color: #fafafa;
	border-radius: 4px;
	border: 1px solid #ccc;
	font-size: 12px;
	font-family: verdana;
	color: #555;
	margin: 10px;
	margin-top: 20px;
	padding: 10px;
	word-wrap: break-word;
	box-sizing: border-box;
}

.qxbb-quote:after {
	display: block;
	position: absolute;
	top: -10px;
	right: 10px;
	background-color: #f7f7f7;
	border: 1px solid #e2e2e2;
	content: "Цитата";
	padding: 3px 7px;
	line-height: 10px;
	border-radius: 4px;
	color: #b1b1b1;
}

.qxbb-spoiler > .qxbb-spoiler-body {
	position: relative;
	display: none;
	background-color: #fafafa;
	border-radius: 4px;
	border: 1px solid #ccc;
	font-size: 12px;
	font-family: verdana;
	color: #555;
	margin: 10px;
	padding: 10px;
	word-wrap: break-word;
	box-sizing: border-box;
}

.qxbb-spoiler > .qxbb-spoiler-body:after {
	display: block;
	position: absolute;
	top: -10px;
	right: 10px;
	background-color: #f7f7f7;
	border: 1px solid #e2e2e2;
	content: "Спойлер";
	padding: 3px 7px;
	line-height: 10px;
	border-radius: 4px;
	color: #b1b1b1;
}

.qxbb-quote > .qxbb-quote-info {
	position: absolute;
	top: -10px;
	left: 10px;
	background-color: #f7f7f7;
	border: 1px solid #e2e2e2;
	padding: 3px 7px;
	line-height: 10px;
	border-radius: 4px;
	color: #b1b1b1;
}

.qxbb-code > .qxbb-code-info {
	position: absolute;
	top: -10px;
	left: 10px;
	background-color: #fff3f3;
	border: 1px solid #f3c7c7;
	padding: 3px 7px;
	line-height: 10px;
	border-radius: 4px;
	color: #b97676;
}

.qxbb-iframe-wrapper {
	position: relative;
	padding-bottom: 56.25%;
	height: 0;
}

.qxbb-iframe-wrapper > .qxbb-iframe {
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
}

.qxbb-left {
	text-align: left;
}

.qxbb-center {
	text-align: center;
}

.qxbb-right {
	text-align: right;
}

.spl-block > .spl-btn {
	margin: 10px;
	cursor: pointer;
	outline: none;
	padding: 5px 10px;
	background-color: #fffbed;
	border: 1px solid #ebdfb4;
	color: #a5914b;
	border-radius: 4px;
}

.spl-block > .spl-body {
	display: none;
	margin: 0px 10px 10px 10px;
	background-color: #fffbed;
	border: 1px dashed #ebdfb4;
	padding: 10px;
	border-radius: 4px;
	font-size: 12px;
	box-sizing: border-box;
	color: #a5914b;
}

.qxbb-offtop {
	color: #c8c8c8;
	margin: 0px 3px;
}

.qxbb-offtop:before {
	content: "×";
	margin: 0px 3px;
}

.qxbb-line {
	border: 0px;
	margin: 20px 10px;
	display: block;
	height: 1px;
	background-color: #a4a4a4;
	border-bottom: 1px solid #c1c1c1;
}

.qxbb-spoiler > .qxbb-spoiler-body {
	border: 1px solid #ddd;
	border-radius: 4px;
	padding: 10px 15px;
}

.icon_status_on,
.icon_status_off {
	display: inline-block;
	vertical-align: middle;
	width: 12px;
	height: 12px;
	background: url('../img/status.png') no-repeat top left;
}

.icon_status_off {
	background-position: top right;
}

.cpp-modal .modal-body {
	overflow-y: visible;
}

.cpp {
	height: 34px !important;
}

.minicolors-swatch {
	top: 8px !important;
}

.input-block-level.bb-input {
	width: 100% !important;
	max-width: 100% !important;
}

/*----------------------------------------*\
 |******************************************|
 |********====*JM Organization*====*********|
 |*****************edited*******************|
 |******************************************|
\*----------------------------------------*/
/* Controls::switch */
/* The switch - the box around the slider */
.switch {
	position: relative;
	display: inline-block;
	width: 50px;
	height: 24px;
	margin: 0 15px 0 0;
}

/* Hide default HTML checkbox */
.switch input {
	display: none;
}

/* The slider 
.slider {
	position: absolute;
	cursor: pointer;
	top: 0;
	left: 0;
	right: 0;
	bottom: 0;
	background-color: #ccc;
	-webkit-transition: .4s;
	transition: .4s;
}

.slider:before {
	position: absolute;
	content: "";
	height: 16px;
	width: 16px;
	left: 4px;
	bottom: 4px;
	background-color: white;
	-webkit-transition: .4s;
	transition: .4s;
}
*/

input:checked + .slider {
	background-color: #2196F3;
}

input:focus + .slider {
	box-shadow: 0 0 1px #2196F3;
}

input:checked + .slider:before {
	-webkit-transform: translateX(26px);
	-ms-transform: translateX(26px);
	transform: translateX(26px);
}

/* Rounded sliders */
.slider.round {
	border-radius: 34px;
}

.slider.round:before {
	border-radius: 50%;
}

.indicator {
	position: absolute;
	width: 100%;
	text-align: center;
}