.form-block.new-id .block-line {
	margin: 5px 0px;
}

.form-block.new-id .block-footer {
	font-family: Hattori-Hanzo;
	margin: 0px 5px;
	font-size: 12px;
	color: #777;
}

.form-block.new-id .block-footer a:hover {
	text-decoration: none;
}

.form-block.new-id .block-footer > div {
	display: inline-block;
	padding: 0px 5px;
}

.form-block.new-id .block-footer .date {
	border-right: 1px solid #eee;
}

.form-block.new-id .block-footer .category {
	border-left: 1px solid #eee;
	margin-left: -3px;
}

.form-block.new-id .block-footer .comments,
.form-block.new-id .block-footer .views {
	float: right;
	border-right: 1px solid #eee;
}

.form-block.new-id .block-footer .comments i,
.form-block.new-id .block-footer .views i {
	margin-right: 5px;
	margin-top: 0px;
}

.form-block.new-id .block-like {
	display: inline-block;
	vertical-align: middle;
}

.form-block.new-id .block-like a {
	opacity: 0.6;
}

.form-block.new-id .block-like a:hover {
	opacity: 1;
}

.form-block.new-id .block-like .likes {
	margin-right: 10px;
}

.form-block.new-id .block-footer .readmore {
	float: right;
	padding-left: 10px;
}

.form-block.new-id .new-id-content {
	margin: 10px;
	font-size: 12px;
	word-wrap: break-word;
}

.form-block.new-id.attached {
	background: #fbfbe1;
}

.form-block.new-id.attached .block-line,
.form-block.new-id.attached .block-footer .date,
.form-block.new-id.attached .block-footer .category,
.form-block.new-id.attached .block-footer .comments,
.form-block.new-id.attached .block-footer .views {
	border-color: #f6e6c9;
}