body {
	background: url(../img/bg.png);
}

body > .container {
	padding-top: 60px;
}

body > .messages {
	padding-top: 45px;
	padding-right: 45px;
	position: fixed;
	top: 0;
	right: 0;
	max-width: 395px;
	width: 295px;
}

.steps .description {
	white-space: pre-line;
}

body.show.help .helper.placeholder {
	background: #e0e1e2 none;
	width: 100%;
	height: 150px;
	top: 0;
	position: fixed;
	z-index: 10000;
	display: inline-block;
}

.helper-toggler {
	pointer-events: none;
}

body:not(.show):not(.help).helper-toggler:after {
	content: '';
	background: #e0e1e2 none;
	position: absolute;
	width: 48px;
	height: 48px;
	left: calc(50% - 24px);
	top: -24px;
	border-radius: 24px;
	box-shadow: 0 0 20px 3px #c7c7c7;
	pointer-events: all;
	cursor: pointer;
}

.ui.flow {
	display: flow-root;
}

code {
	background-color: rgba(0, 0, 0, 0.08);
	border-radius: 3px;
	display: inline-block;
	font-family: "Monaco","Menlo","Ubuntu Mono","Consolas","source-code-pro",monospace;
	font-size: 0.875em;
	font-weight: bold;
	padding: 1px 6px;
	vertical-align: baseline;
}