.mod-users-list > .mod-users-content > .table {
	margin-top: 10px;
}

.mod-users-list > .mod-users-content > .table > tbody td {
	vertical-align: middle;
}

.mod-users-list > .mod-users-content > .table > tbody td .thumbnail {
	display: inline-block;
	vertical-align: middle;
}

.mod-users-full > .mod-content {
	font-size: 0px;
	margin-bottom: 10px;
}

.mod-users-full > .mod-content > .left-block,
.mod-users-full > .mod-content > .right-block {
	font-size: 14px;
	width: 50%;
	display: inline-block;
	vertical-align: top;
	text-align: center;
}

.mod-users-full > .mod-content .skin-block {
	text-align: center;
	/*box-shadow: 0px 0px 10px 0px rgba(150,150,150,0.75);*/
	display: inline-block;
	padding: 0 7px;
}


.mod-users-full > .mod-content .skin-block > .skin-left,
.mod-users-full > .mod-content .skin-block > .skin-right {
	width: 112px;
	height: 224px;
	display: inline-block;
	vertical-align: top;
}

.mod-users-full > .mod-content .skin-block > .skin-right {
	background-position: -112px -224px;
}

.mod-users-full > .mod-users-comments {
	margin-top: 20px;
}

.mod-users-full > .mod-users-comments > .comment-id {
	display: block;
	margin: 0px 20px;
	margin-bottom: 20px;
}

.mod-users-full > .mod-users-comments > .comment-id.pull-right {
	float: none;
}

.mod-users-full > .mod-users-comments > .comment-id p {
	font-size: 14px;
}

.mod-users-full > .mod-users-comments > .comment-id .comment-admin {
	float: right;
}

.mod-users-full > .mod-users-comments > .comment-id.pull-right .comment-admin {
	float: left;
}