body {
	display: flex;
	flex-flow: column;
	height: 100%;
	overflow: hidden;
}

.pull-right { float: right!important; }

.pull-left { float: left!important; }

/**
 * Application progress loader
 */
#js-loader {
	position: fixed;
	top: 24px;
	right: 0;
	display: none;
	background-color: rgba(0, 0, 0, 0.7);
	border-bottom-left-radius: 10px;
	float: right;
	width: 85px;
	height: 30px;
	text-align: center;
	z-index: 20000;
}

#js-loader img {
	padding: 9px 0;
}

/**
 * Application messages
 */
.ui.messages {
	position: fixed;
	top: 50px;
	right: 8px;
	min-width: 350px;
}

.ui.async.message {
	display: none;
	overflow: hidden;
}

.ui.async.message > #title {
	display: block;
	line-height: 12px;
	margin-bottom: 5px;
	font-weight: bold;
}

.ui.async.message > #message {
	clear: both;
}

/**
 * Admin header
 */
header {
	background: #000;
}

header .brand {
	width: 200px;
	display: inline;
	color: #e9e9e9;
	padding-left: 15px;
	font-weight: bold;
}

header .global-menu {
	width: calc(100% - 200px);
	float: right;
	margin: 0;
	padding: 0 24px 0 1rem;
}

header .global-menu li:first-child a { padding-left: 0!important; }

header .global-menu li {
	display: inline-block;
	color: white;
	font-size: 11px;
	line-height: 12px;
	float: left;
}

header .global-menu li > img {
	display: inline;
	float: left;
	margin-top: 2px;
	padding: 1px;
	background: #bebebe;
}

header .global-menu li a.icons {
	padding: 4.4px 1em;
	color: rgba(255, 255, 255, 0.9);
	display: flow-root;
}

header .global-menu li .label {
	padding: 2px 5px;
	font-size: 9px;
}

header .global-menu li a.icons .icon {
	font-size: 12px;
	display: inline;
	height: 24px;
	line-height: 9px;
}

header .global-menu li:not(:last-child) a.icons {
	padding-right: 0;
}

header .global-menu li a.nav-link {
	display: block;
	padding: .5em 1em;
}

header .global-menu li > span {
	float: left;
}

header .global-menu li > a:not(.icons) {
	color: white;
	display: flow-root;
}

header .global-menu li:hover > a:not(.icons) {
	color: rgba(255, 255, 255, 0.70);
}

header .global-menu li.divider {
	height: 16px;
	width: 1px;
	background: white;
	box-sizing: content-box;
	margin: 4px 0;
}

.sidebar-hide header .brand {
	display: none;
}

.sidebar-hide header .global-menu {
	width: calc(100% - 42px);
}

.admin-wrapper > aside {
	width: 200px;
	display: inline-block;
	height: 100%;
	background: #1d2127;
	color: #abb4be;
	padding-top: 62px;
	position: relative;
}

.admin-wrapper > aside .sidebar-toggler {

	height: 42px;
	width: 48px;
	background: #c5c5c5;
	border-bottom-left-radius: 5px;
	float: right;
	color: black;
	font-size: 21px;
	text-align: center;
	/*padding: 10.5px 15px;*/
	cursor: pointer;
	position: absolute;
	top: 0;
	right: 0px;
}
.admin-wrapper > aside .sidebar-toggler .icon { margin: 0; }

.admin-wrapper > aside .sidebar-toggler:hover,
.admin-wrapper > aside .sidebar-toggler:active {
	font-size: 23px;
	/*padding: 9.5px 12px;*/
	background: #b1b1b1;
}

.admin-wrapper > aside .sidebar-toggler:active {
	box-shadow: inset 0 0 10px #929191;
}

.admin-wrapper > aside > .menu-header {
	position: absolute;
	top: 0;
	right: 0;
	height: 42px;
	width: 100%;
	line-height: 42px;
	padding-left: 15px;
	font-weight: bold;
}

.admin-wrapper > aside a,
.admin-wrapper > aside .title {
	color: #abb4be!important;
}

.admin-wrapper > aside .nav-list {
	margin: 0;
	padding: 0;
}

.admin-wrapper > aside .nav-list > .title {
	font-size: 15px;
	position: relative;
	padding: 0!important;
}

.admin-wrapper > aside .nav-list > .title.open > span,
.admin-wrapper > aside .nav-list > .title:hover > span {
	background: #21262d;
}

.admin-wrapper > aside .nav-list > .title > .dropdown {
	right: 10px;
	left: unset!important;
	top: 9px;
}

.admin-wrapper > aside .nav-list > .content {
	padding: 5px 0 5px 38px!important;
	background: #191c21;
	box-shadow: 0px -3px 3px -3px rgba(0, 0, 0, 0.7) inset;
}

.admin-wrapper > aside .nav-list > .content .item:hover > a,
.admin-wrapper > aside .nav-list > .content .item.active > a {
	color: #0275d8!important;
}

.admin-wrapper > aside .nav-list > .title > span {
	display: inline-block;
	width: 100%;
	z-index: 0;
	padding: 6px 7px 6px 38px;
	cursor: pointer;
	height: 35px;
}

.admin-wrapper > aside .nav-list > .title.active > span {
	border-left: 2px solid #eaeaea;
	padding-left: 36px;
}

.admin-wrapper > aside .nav-list > .title i.fa,
.admin-wrapper > aside .nav-list > .title i.icon {
	width: 14px;
	text-align: center;
	z-index: 1;
	position: absolute;
	line-height: 35px;
	left: 12px;
}

.admin-wrapper > aside .nav-list > .title .caret {
	text-align: right;
	float: right;
	margin-right: 12px;
	line-height: 23px;
}

.sidebar-hide .admin-wrapper > aside {
	width: 42px;
	overflow: hidden;
	margin-bottom: -4px;
}

.sidebar-hide .admin-wrapper > aside > .menu-header > a {
	display: none;
}

.sidebar-hide .admin-wrapper > aside .sidebar-toggler,
.sidebar-hide .admin-wrapper > aside:hover .sidebar-toggler {
	position: absolute;
	right: 0;
	top: 0;
	width: 42px !important;
	/*padding: 10.5px 8px !important;*/
	border-radius: 0 !important;
}

.sidebar-hide .admin-wrapper > aside:not(:hover) .nav-list > .title > span {
	padding: 0 0 0 42px;
	line-height: 29px;
}

.sidebar-hide .admin-wrapper > aside:not(:hover) .nav-list > .title {
	display: flex;
}

.sidebar-hide .admin-wrapper > aside:not(:hover) .nav-list > .title .dropdown,
.sidebar-hide .admin-wrapper > aside:not(:hover) .nav-list > .content {
	display: none;
}

.sidebar-hide .admin-wrapper > aside:not(:hover) .nav-list > .title .dropdown {
	line-height: 35px;
}

.sidebar-hide .admin-wrapper > aside:hover {
	position: absolute;
	width: 200px;
	z-index: 10;
	height: calc(100% - 66px);
	margin-top: 42px;
	padding-top: 20px;
	overflow: visible;
}

.sidebar-hide .admin-wrapper > aside:hover .menu-header {
	left: -158px;
	top: -42px;
}

.admin-wrapper > .admin-container {
	width: calc(100% - 200px);
	height: 100%;
	display: inline-block;
	float: right;
	margin: 0;
	overflow-y: auto;
	background-image: url(../../../img/bg.png);
	padding-top: 62px;
	border-left: 1px solid #3A3A3A;
}
.admin-wrapper > .admin-container .breadcrumbs-container {
	height: 42px;
	width: 100%;
	background: #c5c5c5;
	margin: -62px 0 0;
}
.admin-wrapper > .admin-container .breadcrumbs-container > .breadcrumb {
	background: transparent;
	margin: 0;
	line-height: 42px;
}

.admin-wrapper > .admin-container > .ui.container {
	width: 100%;
	margin: 20px 0 72px;
}

.admin-wrapper > .admin-container > .ui.container > .page-header > h1,
.admin-wrapper > .admin-container > .ui.container > .page-header > h2,
.admin-wrapper > .admin-container > .ui.container > .page-header > h3,
.admin-wrapper > .admin-container > .ui.container > .page-header > h4,
.admin-wrapper > .admin-container > .ui.container > .page-header > h5,
.admin-wrapper > .admin-container > .ui.container > .page-header > h6 {
	display: inline-block;
	margin-right: 1rem;
}

.sidebar-hide .admin-wrapper > .admin-container {
	width: calc(100% - 42px);
}

.phrase h5 { margin-bottom: 0; }
.phrase span { opacity: 0.8; }

.admin-themes-menu .item {
	height: 275px;
	font-size: 14px;
	text-align: center;
	display: inline-block;
	word-wrap: break-word;
	vertical-align: top;
	position: relative;
}

.admin-themes-menu .item:before {
	position: absolute;
	background: rgba(0, 0, 0, 0.4);
	width: 100%;
	height: 240px;
	content: '';
	left: 0;
	top: 0;
	z-index: 10;
}

.admin-themes-menu .item .i-icon {
	display: block;
	height: 240px;
	width: 100%;
	max-width: unset;
	margin: auto;
	opacity: 0.8;
	border: 1px solid grey;
	background-color: #dddddd;
}

.admin-themes-menu .item:hover:before {
	background: rgba(0, 0, 0, 0.6);
}

.admin-themes-menu .item .theme-about {
	position: absolute;
	bottom: 36px;
	left: 12px;
	color: white;
	z-index: 11;
	display: block;
	width: calc(100% - 24px);
	text-align: left;
}

.admin-themes-menu .item .theme-about .theme-name {
	padding-bottom: 3px;
	border-bottom: 1px solid #ddd;
}

.admin-themes-menu .item .theme-active {
	position: absolute;
	top: 12px;
	right: 12px;
	color: #00bb00b5;
	font-weight: bold;
	font-size: 20px;
	text-shadow: 0 0 10px #1d1d1d;
	z-index: 11;
}

.admin-themes-menu .item .item-footer {
	background: #f7f7f9;
	border: 1px solid #d8d8da;
	padding: 6px 12px;
}

.themes-modal .modal-header {
	background-size: cover;
	height: 180px;
	background-position-y: 0%;
	position: relative;
	border-top-left-radius: .3rem;
	border-top-right-radius: .3rem;
}

.themes-modal .modal-header:after {
	content: '';
	position: absolute;
	width: 100%;
	height: 100%;
	background-image: linear-gradient(to bottom, transparent 144px, #585858 256px, #f7f7f9 144px);
	top: 0;
	left: 0;
	z-index: 0;
	border-top-left-radius: .3rem;
	border-top-right-radius: .3rem;
}

.modal-with-nav {
	display: block;
}

.modal-with-nav .modal-title,
.modal-with-nav .modal-header-tabs,
.modal-with-nav .close {
	z-index: 1;
	position: relative;
}

.modal-with-nav .modal-header-tabs {
	margin-bottom: -1.4rem;
	border-bottom: 0;
	margin-top: 86px;
}

#themesModal #screenshots a:before {
	position: absolute;
	z-index: 10;
	color: white;
	width: 100%;
	height: 100%;
	text-align: center;
	padding: 48px 110px;
	font-size: 25px;
	opacity: 0;
}

#themesModal #screenshots a:after {
	content: '';
	background-color: rgba(0, 0, 0, 0.1);
	bottom: 0;
	left: 0;
	position: absolute;
	right: 0;
	top: 0;
	-webkit-transition: background-color 0.15s ease 0s;
	-o-transition: background-color 0.15s ease 0s;
	transition: background-color 0.15s ease 0s;
}

#themesModal #screenshots a:hover:before {
	opacity: 0.8;
}

#themesModal #screenshots a:hover:after {
	background-color: rgba(0, 0, 0, 0.5);
}

#themesModal #screenshots a:hover > img {
	-webkit-transform: scale3d(1.1, 1.1, 1.1);
	transform: scale3d(1.1, 1.1, 1.1);
}

/* Item::somethings */
.date-publish,
.date_cs {
	display: none;
}

.date-publish * {
	display: inline-block;
	height: 33px;
}

.date-publish .date {
	width: 168px;
}

.date-publish .time-hour,
.date-publish .time-minute {
	width: 28px;
}

.user {
	height: 35px;
	line-height: 35px;
	display: flex;
	margin-right: 20px;
}

.user span {
	padding-right: 15px;
	font-size: 18px;
	display: inline-block;
}

.user img {
	display: inline-block;
}

.notifys {
	position: absolute;
	top: 15px;
	right: 20px;
	display: inline-block;
	min-width: 270px;
	height: auto;
	z-index: 1;
}

.panel-menu-tabs {
	border-right: 1px solid #dddddd;
}

.nav-pills .nav-link {
	color: #585858;
}

.nav-pills .nav-item.show .nav-link, .nav-pills .nav-link.active {
	background-color: #563d7c;
}

.block-name {
	width: 100% !important;
	text-shadow: none;
}

.block-name p#title {
	display: inline-block;
	width: auto;
	min-height: 48px;
	margin: 0 0 9px 0;
	float: left;
}

.block-name p#title > .title {
	font-size: 22px;
	line-height: 28px;
	font-weight: bold;
	text-shadow: none;
	color: black;
}

.block-name p#title:not(small) {
	min-height: 28px;
}

.block-name p#title > .title + small {
	font-size: 85%;
	line-height: 17px;
	font-weight: normal;
	opacity: 0.6;
	display: block;
	width: 100%;
	margin-top: 3px;
	color: black;
}

.block-name p#title > .title + small > select {
	background: transparent;
	border: 0;
	border-right: 1px solid #b9b9b9;
	margin-right: 7px;
	margin-left: -4px;
	outline: none;
}

.block-name #actions {
	display: inline-table;
	width: auto;
	min-height: 48px;
	margin: 0 0 9px 0;
	float: right;
}

.block-name #actions > span[role="group"] {
	margin-left: 9px;
}

.block-name #actions > span[role="group"] > a,
.block-name #actions > span[role="group"] > button {
	margin: 5px 0
}

.block-name #actions > span[role="group"] > button {
	line-height: 18px;
	font-size: 18px;
	padding: 7px 9px 6px 14px;
	text-align: center;
}

.block-name #actions > span[role="group"] > button:hover {
	color: white !important;
}

.block-name #actions > span[role="group"] > input:not(:last-child) {
	border-top-right-radius: 0;
	border-bottom-right-radius: 0;
}

.block-name #actions > span[role="group"] > .input-group-prepend:not(:first-child) button {
	border-left: 0;
	border-top-left-radius: 0;
	border-bottom-left-radius: 0;
}

.table-responsive {
	margin: 10px 0;
}

.table-responsive table {
	width: 100%;
	background: #FFF;
	border: 1px solid rgba(0, 0, 0, .15);
	box-shadow: none;
	border-radius: .25rem;
	text-align: left;
	color: rgba(0, 0, 0, 0.87);
	border-collapse: separate;
	border-spacing: 0;
	margin: 0;
}

.table-responsive table > thead {
	font-weight: bold;
	border-color: rgba(0, 0, 0, .15);
	background: #F7F7F7;
}

.table-responsive table > thead a,
.table-responsive table > thead a:hover,
.table-responsive table > thead a:active {
	color: #000;
	cursor: pointer;
}

.table-responsive table > thead th {
	border: 0;
	border-bottom: 1px solid rgba(0, 0, 0, .15) !important;
}

.table-responsive table > thead th a {
	cursor: pointer;
}

.table-responsive table > thead tr:first-child > th:first-child {
	border-top-left-radius: .25rem;
}

.table-responsive table > thead tr:first-child > th:last-child {
	border-top-right-radius: .25rem;
}

.table-responsive table td,
.table-responsive table th {
	vertical-align: top;
	border-top: 0;
	border-bottom: 1px solid #eceeef;
}

.table-responsive table tr:last-child td,
.table-responsive table tr:last-child th {
	border-bottom: 0;
}

.table-hover tbody tr:hover {
	background-color: rgba(0, 0, 0, .0015);
}

#permissions-container {
	position: relative;
}

#permissions-container span {
	position: relative;
	display: block;
	margin-bottom: 10px;
	font-size: 18px;
	background: #f5f5f5;
	z-index: 2;
	cursor: pointer;
}

#permissions-container span > i.fa {
	position: absolute;
	right: 6px;
	top: 4px;
}

#permissions.hide + span > i.fa:before {
	content: "\f0d7";
}

#permissions.opened + span > i.fa:before {
	content: "\f0d8";
}

#permissions-container #permissions {
	position: absolute;
	bottom: -100%;
	z-index: -1;
	opacity: 0;
}

/* Localization module */
#phrases .l10n-action {
	width: 15% !important;
	text-align: right;
}

#languages .l10n-action {
	width: 25% !important;
	text-align: right;
}

td.l10n-action {
	padding: 0 !important;
	line-height: 24px;
	font-size: 20px;
	border-left: 1px solid #ddd;
}

td.l10n-action > a {
	display: inline-block;
	padding: 7px 10px;
}

.l10n-action > a#edit {
	color: #72b748
}

.l10n-action > a#delete {
	color: #d9534f
}

.l10n-action > a:hover {
	color: #636c72 !important;
	background: #fbfac7 !important;
}

td.l10n-action > label.custom-checkbox {
	display: inline;
	margin: 9px;
	vertical-align: middle;
}

tr:hover td.l10n-action > label.custom-checkbox .custom-control-input:not(:checked) + .custom-control-indicator {
	background: #ffffff;
}

.date_format, .time_format {
	margin-bottom: 5px !important
}

.date_format label, .time_format label {
	margin-bottom: 0 !important;
}

.date_format > small,
.date_format > [role="small"],
.time_format > small,
.time_format > [role="small"] {
	margin-top: -1px !important;
	margin-left: 20px !important;
}

/* News module */
.news-id {
	width: 5% !important;
}

.news-category {
	max-width: 268px;
	width: 25% !important;
}

.news-id {
	text-align: right;
}

td.news-id {
	border-right: 1px solid #ddd;
}

th.news-title {
	padding-left: 54px !important;
}

#news_list tr {
	height: 42px;
}

td.news-title, td.news-category {
	height: 42px;
	padding: 3px 4px 3px 6px !important;
}

td.news-title > #left {
	float: left;
	height: 42px;
	width: 42px;
	display: inline-block;
	margin-right: 6px;
	padding: 0;
	cursor: pointer;
}

td.news-title > #right {
	float: left;
	width: calc(100% - 48px);
	margin: 0;
	padding: 0;
}

td.news-title > .top,
td.news-title > .bottom,
td.news-category > .top,
td.news-category > .bottom {
	height: 21px;
	display: block;
	width: 100%;
	margin: 0;
	padding: 0;
}

td.news-category > .bottom {
	overflow: hidden;
	text-overflow: ellipsis;
	white-space: nowrap;
}

td.news-title p, td.news-category p {
	display: inline;
	margin: 0;
}

td.news-title p > i {
	padding-left: 7px;
	opacity: 0.55;
}

td.news-title p > i:hover {
	opacity: 1;
}

td.news-title p#img {
	position: relative;
	display: inline-block;
}

td.news-title p#img > img.user_a-news_avatar,
td.news-title p#img > img.user_a-news_avatar:last-child:not(:first-child),
td.news-title p#img > img.user_e-news_avatar {
	position: absolute;
	bottom: -2px;
	right: -5px;
	border-radius: 3px;
	opacity: 1;
	border-left: 1px solid #fff;
}

td.news-title p#img > img.user_a-news_avatar {
	right: 5px;
	opacity: 0.85;
	box-shadow: none;
	border-color: transparent;
}

.mysql-info {
	position: absolute;
	top: 8px;
	right: 9px;
	cursor: pointer;
	background: #d2d2d2;
	opacity: 0.6;
	padding: 0 10px;
	-webkit-border-radius: 2px;
	-moz-border-radius: 2px;
	border-radius: 2px;
	width: 24px;
	height: 24px;
	line-height: 24px;
}

.adm-info.modern ul.nav-tabs {
	padding: 0 20px;
	margin-left: -20px;
	margin-right: -20px;
	margin-top: 11px
}

.adm-info.modern .tab-content {
	background: white;
	margin: 0 -20px -20px;
	border: 1px solid #ddd;
	border-top: 0;
	padding: 20px;
	position: relative;
}

#update-info-panel .description p {
	width: calc(100% - 96px);
	float: right;
	margin-left: 24px;
}

#update-info-panel #update-status {
	position: absolute;
	width: 24px;
	height: 24px;
	top: 72px;
	left: 46px;
	font-size: 24px;
	z-index: 0;
}
#update-info-panel #update-status:before {
	z-index: 1;
}
#update-info-panel #update-status:after {
	position: absolute;
	background: #e6e6e6;
	border-radius: 50%;
	width: 20px;
	height: 20px;
	content: '';
	z-index: -1;
	top: 4px;
	left: 2px;
}

#log-viewer #log-content {
	width: 100%;
	height: 520px;
	background: #f2f2f2;
	margin-bottom: 0;
	overflow: scroll;
	margin: 0;
}

#log-viewer #logs-list {
	margin-top: 0;
	margin: 0 -14px;
	overflow-y: auto;
	height: 520px;
	padding: 0;
}

#log-viewer #logs-list .item {
	padding-left: 20px;
	cursor: pointer;
	list-style: none;
	position: relative;
	height: 19px;
}

#log-viewer #logs-list .item .actions {
	/*display: inline;*/
	position: absolute;
	right: 0;
	top: 2px;
	display: none;
	padding-left: 15px;

}

#log-viewer #logs-list .item .actions a { color: unset; }
#log-viewer #logs-list .item .actions .trash:hover { color: #ef7c7c; }
#log-viewer #logs-list .item .actions .download:hover { color: #7cb9ef; }

#log-viewer #logs-list .item:hover {
	background: #e8e8ff;
}

#log-viewer #logs-list .item:hover .actions {
	display: inline;
	background: linear-gradient(to right, transparent, #e8e8ff 20px);
}

#log-viewer #update-file {
	position: absolute;
	top: -1px;
	right: 15px;
	cursor: pointer;
	background: transparent;
	opacity: 0.6;
	text-align: center;
	-webkit-border-radius: 2px;
	-moz-border-radius: 2px;
	border-radius: 2px;
	width: 24px;
	height: 24px;
	line-height: 24px;
}
#log-viewer #update-file .refresh {
	margin: 0; }

#log-viewer #update-file:hover {
	background: #d2d2d2;
}

